[submodule "dependencies/csound"]
	path = dependencies/csound
	url = https://github.com/csound/csound.git
[submodule "dependencies/csound-ac"]
	path = dependencies/csound-ac
	url = https://github.com/gogins/csound-ac.git
